<?xml version="1.0"?>
<config>
    <global>
        <models>
            <featuredcategory>
                <class>Sm_FeaturedCategory_Model</class>
            </featuredcategory>
        </models>
        <blocks>
            <featuredcategory>
                <class>Sm_FeaturedCategory_Block</class>
            </featuredcategory>
        </blocks>
        <helpers>
            <featuredcategory>
                <class>Sm_FeaturedCategory_Helper</class>
            </featuredcategory>
        </helpers>
        <resources>
            <featuredcategory_setup>
                <setup>
                    <module>Sm_FeaturedCategory</module>
                </setup>
            </featuredcategory_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <featuredcategory>
                <use>standard</use>
                <args>
                    <module>Sm_FeaturedCategory</module>
                    <frontName>featuredcategory</frontName>
                </args>
            </featuredcategory>
        </routers>
        <layout>
            <updates>
                <featuredcategory module="Sm_FeaturedCategory">
                    <file>sm/featuredcategory.xml</file>
                </featuredcategory>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sm_FeaturedCategory>
                    <files>
                        <default>Sm_FeaturedCategory.csv</default>
                    </files>
                </Sm_FeaturedCategory>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Sm_FeaturedCategory>
                    <files>
                        <default>Sm_FeaturedCategory.csv</default>
                    </files>
                </Sm_FeaturedCategory>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <featuredcategory_cfg translate="title" module="featuredcategory">
                                            <title>SM Featured Category Settings</title>
                                        </featuredcategory_cfg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <featuredcategory module="Sm_FeaturedCategory">
                    <file>sm/featuredcategory.xml</file>
                </featuredcategory>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <featuredcategory_cfg>
            <general>
                <active>1</active>
                <link_target>_self</link_target>
                <featuredcategory_title_text>Featured Category 2015</featuredcategory_title_text>
                <nb_column1>4</nb_column1>
                <nb_column2>3</nb_column2>
                <nb_column3>2</nb_column3>
                <nb_column4>1</nb_column4>
            </general>

            <source_options>
                <product_category></product_category>
                <product_featured>0</product_featured>
                <product_order_by>name</product_order_by>
                <product_order_dir>ASC</product_order_dir>
                <product_limitation>5</product_limitation>
            </source_options>

            <cat_options>
                <cat_title_display>1</cat_title_display>
                <category_title_max_characs>50</category_title_max_characs>
                <category_order_by>name</category_order_by>
                <category_order_dir>ASC</category_order_dir>
                <cat_readmore_display>1</cat_readmore_display>
                <cat_readmore_text>Discover More</cat_readmore_text>
            </cat_options>

            <product_options>
                <product_title_display>1</product_title_display>
                <product_title_maxlength>25</product_title_maxlength>
                <product_description_display>1</product_description_display>
                <product_description_maxlength>150</product_description_maxlength>
                <product_price_display>1</product_price_display>
                <product_reviews_count>0</product_reviews_count>
                <product_addcart_display>0</product_addcart_display>
                <product_addwishlist_display>0</product_addwishlist_display>
                <product_addcompare_display>0</product_addcompare_display>
                <product_readmore_display>0</product_readmore_display>
                <product_readmore_text>Details</product_readmore_text>
                <imgcfg_from_product_image>1</imgcfg_from_product_image>
                <imgcfg_from_product_description>1</imgcfg_from_product_description>
                <imgcfg_order>product_image, product_description</imgcfg_order>
                <imgcfg_function>1</imgcfg_function>
                <imgcfg_placeholder>sm/featuredcategory/images/nophoto.jpg</imgcfg_placeholder>
                <imgcfg_width>250</imgcfg_width>
                <imgcfg_height>350</imgcfg_height>
                <imgcfg_width2>300</imgcfg_width2>
                <imgcfg_height2>450</imgcfg_height2>
            </product_options>

            <advanced>
                <include_jquery>0</include_jquery>
                <pretext>Pretext</pretext>
                <posttext>Posttext</posttext>
            </advanced>
        </featuredcategory_cfg>
    </default>
</config>