<?xml version="1.0"?>
<!-- 
/**
* @category   Fiestic
* @package    Fiestic_Ingram
* @author     ModuleCreator
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Fiestic_Ingram>
            <version>0.1.0</version>
        </Fiestic_Ingram>
    </modules>
    <frontend>
        <routers>
            <product>
                <use>standard</use>
                <args>
                    <module>Fiestic_Ingram</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
    </frontend>
    <global> 
	<models>
            <ingram>
                <class>Fiestic_Ingram_Model</class>
	    </ingram>
	</models>    
        <blocks>
            <ingram>
                <class>Fiestic_Ingram_Block</class>
            </ingram>
        </blocks>
        <helpers>
            <ingram>
                <class>Fiestic_Ingram_Helper</class>
            </ingram>
        </helpers>
    </global>
</config>
